source/ThapHaNoi_NguyenThanhPhi/ThapHaNoi_NguyenThanhPhi/Service References/TowerHanoiService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServiceForTesting" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServiceForTesting" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhongChoi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhongChoi" nillable="true" type="tns:PhongChoi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhongChoi" nillable="true" type="tns:ArrayOfPhongChoi" />
  <xs:complexType name="PhongChoi">
    <xs:sequence>
      <xs:element minOccurs="0" name="CHUPHONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATKHAUPHONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOLUONG" type="xs:int" />
      <xs:element minOccurs="0" name="TENPHONG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhongChoi" nillable="true" type="tns:PhongChoi" />
</xs:schema>