source/ThapHaNoi_NguyenThanhPhi/ThapHaNoi_NguyenThanhPhi/Service References/TowerHanoiService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.100.113/WebServiceForTesting/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceForTesting" />
  <xs:element name="CheckUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mk" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mk" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachPhongChoi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachPhongChoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServiceForTesting" minOccurs="0" name="DanhSachPhongChoiResult" nillable="true" type="q1:ArrayOfPhongChoi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>